@font-face {
  font-family: 'doomFont';
  src: url('../fonts/doom/DooM.ttf') format('truetype');
}

body {
  font-family: 'doomFont', sans-serif;
  color: red;
  background-image: url('../public/doomBricks.png');
  background-repeat: repeat;
  text-align: center;
}

.image-container {
  width: 57%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.countdown-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateY(-50%);
  transform: translatex(-50%);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.doom-input {
  border: 3px solid #595959;
  background-color: black;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.8);
  color: white;
  padding: 10px;
  font-family: 'doomFont';
}


.doom-bar {
  background-image: url('../public/status_background.jpg');
  background-repeat: repeat;
  background-size: 7%;
  color: red;
  text-align: center; /* Center the text within the bar */
  /*padding: 10px; !* Add some spacing between the text and the edges of the bar *!*/
  position: fixed; /* Make the bar position fixed  */
  bottom: 0;       /* Stick it to the bottom */
  width: 100%;
}
